@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@200;300;400;500&display=swap');

body {
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar {
    width: 0;
}

h1 {
    font-family: 'KoHo', sans-serif;
}




.t-img {
    height: 2rem;
}

.t-img:hover {
    height: 3rem;
    transition: 0.3s ease-in-out;
}



.bg-m {
    background-color: rgb(0, 0, 0) !important;
    color: rgb(216, 216, 216) !important;
}

.b-m {
    border: 2px solid black;
    border-radius: 8px;
}

.nli:hover {
    border: 2px solid black;
    /* padding: 5px; */
    border-radius: 8px;
    box-sizing: border-box;
}

.pi {
    background: linear-gradient(to bottom, white, rgba(1, 78, 114, 0.116));
    border-radius: 10px;
}

.title {
    border: 3px solid black;
    padding: 5px;
    border-radius: 8px;
    /* box-sizing: border-box; */
    max-width: fit-content !important;
}

.btn-link {
    color: black !important;
}

.btn-s:hover {
    border: 3px solid black;
    /* padding: 5px; */
    border-radius: 8px;
    box-sizing: border-box;
}

/* .btn-sm {
    background-color: rgb(24, 24, 24) !important;
    display: flex !important;
    justify-content: center !important;
    align-content: center !important;
    padding: 0 10px !important;
} */

.btn-darkk {
    background-color: rgb(24, 24, 24) !important;
    border-radius: 7px !important;
    padding: 0 12px !important;
    display: flex !important;
    align-items: center !important;

}

.btn-github {
    text-decoration: none !important;
    height: 20px !important;
    position: relative;
    top: 2px;
}

footer {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot {
    position: absolute;
    bottom: 0px;
}